
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Eduardo Oliveira - Portfólio</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="assets/php-elephant.png" alt="Logo PHP" class="logo" />
      <div class="info">
        <h1>Eduardo Oliveira</h1>
        <h2>BACKEND DEVELOPER</h2>
        <p><strong>Sobre mim</strong><br />
          Trabalho como Analista de sistema nos últimos 2 Anos. Minha especialidade inclui<br> JavaScript, HTML, CSS, PHP
        <h1 class="git"><a href="https://github.com/duh-021" target="_blank">Meu GitHub</a></h1>
        </p>
      </div>
      <div class="languages">
        <h3>Linguagens mais usadas</h3>
        <div class="lang-stats" id="lang-stats"></div>
      </div>
    </div>
    <h1 class="skillss">Skills</h1>
    <div class="content">
      
      <div class="skills">
      
        <div class="code-header">JS</div>
        <pre><code id="skill-code"></code></pre>
      </div>
      <div class="projects">
        <h1>Projetos</h1>
        <div class="project-card">
          <a href="https://github.com/duh-021/Sistema-de-ponto-com-php"><h2 class="txt">Sistema de ponto com PHP</h2></a>
        </div>

        <div class="project-card">
          <a href="https://github.com/duh-021/ERP"><h2 class="txt">Sistema ERP com PHP e JS</h2></a>
        </div>

        <div class="project-card">
          <a href="https://github.com/Eduardo-021/Tela-de-Login"><h2 class="txt">Sistema de Login com PHP</h2></a>
        </div>
      </div>
    </div>
  </div>
<script type="module" src="../controller/controller.js"></script>
</body>
</html>
